<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dine In</title>
</head>
<body>
    <header>
        <ul>
            <li><a href='/account'>Account</a></li>
            <li><a href='/saved'>Recipe Book</a></li> 
        </ul>
    </header>
    <main>
        <form action="/add-ingredient" method="POST">
            <input type="text" name="title">
            <button type="submit">Add Ingredient</button>
        </form>
    </main>
</body>
</html>